*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(13, 14, 48);
}

.container {
    width: 50%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    margin-top: 50px;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

#simon {
    min-width: 700px;
    min-height: 200px;
    background-color: rgb(108, 158, 214);
    color: whitesmoke;
    border: 2px solid azure;
    border-radius: 25px;
    font-size: 30px;
    text-align: center;
    padding: 50px;
}

.button {
    background: orange;
    color: white;
    border-radius: 25px;
    padding: 5px 20px;
    margin-top: 25px;
}

.button:hover {
    border-style: inset;
    border: 2px solid whitesmoke;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 1px azure;
}